* {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o espaçamento interno padrão */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}

/* Estilo do body */
body {
    background-image: url(img.png); /* Define imagem de fundo */
    background-repeat: no-repeat; /* Não repete a imagem de fundo */
    background-size: cover; /* Cobre toda a área do body com a imagem */
    height: 100vh; /* Altura do body = altura da tela */
    display: flex; /* Define layout flexível */
    flex-direction: column; /* Organiza os filhos em coluna */
    justify-content: space-between; /* Espaça os elementos verticalmente */
    align-items: center; /* Centraliza elementos horizontalmente */
    background-color: #ffffff; /* Cor de fundo caso a imagem não carregue */
}
.logo {
    background-image: url(gt.png); /* Imagem da logo */
    background-repeat: no-repeat; /* Não repete a logo */
    background-position: center top; /* Posiciona centralizado no topo */
    background-size: 400px; /* Define tamanho da logo */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    margin-top: -170px; /* Ajuste vertical para sobreposição */
}
.caixa {

    font-size: 150%;
    display: flex;
    flex-direction: column;
    position: relative; /* Permite mover a caixa */
    top: -180px; /* Ajuste para subir a caixa (quanto maior o valor negativo, mais sobe) */
}
.caixa input{
    display: flex;
    padding:1px ;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
}


/* Marcuz CSS */

.btn-login{
    margin-top: 5px;
    text-align: center;
    width: 250px;
}

.btn-login a{
    text-decoration: none;
}

